!!! 5
%html
  %head
    %title SalesFarce
    %link{:rel => 'shortcut icon', :href => 'https://na9.salesforce.com/favicon.ico'}
    %link{:rel => 'stylesheet', :href => '/css/bootstrap.min.css'}
    %link{:rel => 'stylesheet', :href => '/css/site.css'}
    %script{:src => '/js/bootstrap.min.js'}
  %body
    .container
      .row
        .sidebar
          = haml :sidebar_nav
        .content.span10.offset2
          .page-header
            %h1.center SalesFarce

          - if flash.has?(:success)
            - flash[:success].each do |msg|
              .alert.alert-success= msg
          - if flash.has?(:notice)
            - flash[:notice].each do |msg|
              .alert= msg
          - if flash.has?(:error)
            - flash[:error].each do |msg|
              .alert.alert-error= msg

          = yield
