.user.row
  .namecard.span3
    %h3= user.Name
    %img{ :src => user.FullPhotoUrl + "?oauth_token=#{session[:client].oauth_token}" }
    .controls
      %a.btn{:href => "/users/sobject?soid=#{user.Id}"} Import From Salesforce
  .span4
    %dl
      .row
        .span2
          %dt Username
          %dd= (user.Username || '')
      .row
        .span2
          %dt Salesforce ID
          %dd= (user.Id || '')
      .row
        .span2
          %dt First name
          %dd= (user.FirstName || '')
        .span2
          %dt Last name
          %dd= (user.LastName || '')
      .row
        .span2
          %dt Company
          %dd= (user.CompanyName || '')
        .span2
          %dt Title
          %dd= (user.Title || '')
      .row
        .span2
          %dt Phone
          %dd= (user.Phone || '')
        .span2
          %dt Mobile Phone
          %dd= (user.MobilePhone || '')
      %dt About Me
      %dd= (user.AboutMe || '')

