%h2 Salesforce Users

.users
  - @users.each do |user|
    .user
      %h3= user.Name
      %p= 'Username: ' + (user.Username || '')
      %p= 'First name: ' + (user.FirstName || '')
      %p= 'Last name: ' + (user.LastName || '')
      %p= 'Company: ' + (user.CompanyName || '')
      %p= 'Title: ' + (user.Title || '')
      %p= user.inspect
